<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274418787563-470puilabkp3hk17u11l07prtfbbhv4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274418787563-470puilabkp3hk17u11l07prtfbbhv4l</string>
	<key>API_KEY</key>
	<string>AIzaSyCvG1gGpxGIPTQ_5qg1o7h4mZo4DvCSdaE</string>
	<key>GCM_SENDER_ID</key>
	<string>274418787563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>son</string>
	<key>PROJECT_ID</key>
	<string>chatbot-app-80f33</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-app-80f33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274418787563:ios:fa4694768c4009538d4aae</string>
</dict>
</plist>